# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/out/
/src/main/java/typeconverter/.gradle/
/src/main/java/typeconverter/build/
/src/main/java/typeconverter/build/classes/java/main/